body {
    font-size: large;
    font-style: inherit; color: rgb(255, 255, 255);
    background-image: url(/img/17024.jpg);
}
.principal {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.-nombre {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.2cm;
    border: 5px solid rgb(0, 0, 0); 
    background-color: rgb(26, 24, 31);
    background-origin: padding-box;color: rgb(255, 174, 0);
}

.formulario {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal; color: aliceblue;
    border: 2px solid; color: aliceblue;
    border-radius: 0.1cm;
}

.tabla{
    border: 2px solid; color: aliceblue;
    width: 720px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: aliceblue;
}
    
.lista{
    list-style-type: square; color: rgb(15, 165, 211);
     font-family: 'Times New Roman', Times, serif;
}